:root {
  --ageno-border-radius: 8px;

}


*::selection {
  background: rgb(118, 57, 255);
  color: #fff;
}

body div {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

html {
  box-sizing: border-box;
  width: 100vw;
  font-size: 14px;
}

ul {
  font-size: 18px;
  line-height: 1em;
}

article {
  display: block;
  text-align: left;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}


.ageno-article-header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  background-color: rgba(16, 7, 39, 1);
  background-color: rgba(3, 15, 41);
}

.ageno-article-meta__image {
  position: absolute;
  top: 0;
  left: 40%;
  width: 60%;
  height: 100%;
  z-index: 1;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

}

.ageno-article-meta__image:after {
  content: "";
  background: radial-gradient(ellipse closest-side, rgba(3, 15, 41, 0.5), rgba(3, 15, 41, 1));
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: block;
  z-index: 1;
}

.ageno-article-header__article-meta {
  padding: 32px 0;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.ageno-article-meta__caption {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 0;
  margin-bottom: 8px;
}

.ageno-article-meta__breadcrumb a {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 5px;
  color: rgb(99, 98, 111);
  display: inline-block;
  text-decoration: none;
}


.ageno-article-meta__breadcrumb a:hover {
  color: rgba(196, 194, 212, 0.58);
}


.ageno-article-meta__breadcrumb a:after {
  font-size: 16px;
  line-height: 24px;
  content: "/";
  color: rgba(195, 194, 208, 0.24);
  padding: 0 8px 0 8px;
  display: inline-block;
}

.ageno-article-meta__h1 {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  line-height: 64px;
  font-weight: 800;
  position: relative;
  z-index: 3;
  padding: 0;
  margin: 0 0 16px 0;
}

.ageno-article-meta__post-tags {
  z-index: 3;
  position: relative;
  font-size: 0; /*Removing spaces between elements*/
}
.ageno-article-meta__post-tags a {
  color: rgb(99, 98, 111);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  border: 2px solid rgba(28, 36, 51, 0.62);
  border-radius: 24px;
  font-size: 12px;
  line-height: 24px;
  height: 24px;
  padding: 0 16px;
  margin: 0 16px 16px 0;
  text-decoration: none;
}

.ageno-article-meta__post-tags a:hover {
  color: rgba(196, 194, 212, 0.58);
  border: 2px solid rgba(144, 155, 177, 0.31);
}

.ageno-article-meta-secondary {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  z-index: 2;
  position: relative;
  margin: 0 -32px;
  padding: 32px 32px;
  border-radius: var(--ageno-border-radius) var(--ageno-border-radius) 0 0;
  overflow: hidden;
}

.ageno-article-meta-secondary__author {
  float: left;
  width: 70%;
}

.ageno-author__avatar {
  width: 52px;
  height: 52px;
  float: left;
  margin-right: 16px;
}

.ageno-author__avatar img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: inline-block;
}

.ageno-author__name {
  display: block;
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  line-height: 24px;
}

.ageno-author__name--role {
  font-family: 'Roboto', sans-serif;
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.ageno-5px;
  color: rgb(173, 172, 183);
}

.ageno-article-meta-secondary__post-date {
  text-align: right;
  float: right;
  width: 30%;
  font-size: 12px;
  line-height: 16px;
  vertical-align: top;
  color: rgb(173, 172, 183);
}

/* Article Series -----------------------------------------------------*/


.ageno-series {
  list-style: none;
  counter-reset: ageno-counter1;
  margin: 0 0 16px 0px;
  padding: 0;
}

.ageno-series li {
  counter-increment: ageno-counter1;
  margin: 8px 0px;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  display: block;
  position: relative;
  margin-left: 48px;
}
.ageno-series li::before {
  content: counter(ageno-counter1) ".";
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: rgba(99, 98, 111, 0.5);
  width: 32px;
  line-height: 32px;
  height: 32px;
  display: block;
  text-align: right;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 0;
  left: -40px;
  margin-right: 8px;
  vertical-align: top;
}

.ageno-series li a {
  color:var(--ageno-second-color);
  padding: 0 0 2px 0;
  text-decoration: none;
  transition: box-shadow .15s ease-in-out;
}

.ageno-series li a:hover {
  color: rgb(0, 117, 235);
  box-shadow: inset 0 -1px 0 rgba(99, 98, 111, 0.5);
}

.ageno-series li.active a {
  box-shadow: inset 0 -1px 0 rgba(99, 98, 111, 0.5);
}

.ageno-series li:after {
  content: '\279E';
  margin-left: 8px;
  color: rgb(173, 172, 183);
}


/* General Typography -----------------------------------------------------*/


.ageno-h2,
.ageno-h3,
.ageno-h4 {
  font-family: 'Roboto Slab', serif;
  color: rgb(3, 26, 78);
  font-weight: 400;
  padding: 32px 0 16px 0;
  margin: 0;
}

.ageno-h2 {
  font-size: 32px;
  line-height: 32px;
  margin: 0;
}

.ageno-h3 {
  font-size: 24px;
  line-height: 32px;
}

.ageno-h4 {
  font-size: 16px;
  line-height: 16px;
}

.ageno-subheader {
  font-family: 'Roboto', sans-serif;
  color: rgb(3, 26, 78);
  font-weight: 400;
  padding: 32px 0 0px 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  color: rgba(3,27,78,.7);
  display:block;
}


.ageno-p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 32px;
  color: rgba(3,27,78,.7);
  margin: 0 0 16px 0;
}

.ageno-p__lead {
  line-height: 40px;
  font-weight: 500;
  font-size: 24px;
  color: rgba(3,27,78,.7);
  padding: 20px;
  width: calc(70% + 30rem);
  margin-left: -8rem;
}


/* Ageno list --------------*/

.ageno-list {
  list-style: none;
  margin: 0 0 16px 0px;
  padding: 0;
  color: rgba(3,27,78,.7);
}

.ageno-list li {
  margin: 8px 0px;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  display: block;
  position: relative;
  margin-left: 48px;
}
.ageno-list li::before {
  content: '';
  color: rgba(99, 98, 111, 0.5);
  width: 8px;
  height: 8px;
  display: block;
  text-align: right;
  border-radius: 50%;
  position: absolute;
  display: block;
  top: 12px;
  left: -24px;
  margin-right: 8px;
  vertical-align: top;
  background: rgba(99, 98, 111, 0.5);
}


/* Ageno timeline --------------*/

.ageno-timeline {
  list-style: none;
  margin: 0 0 16px 0px;
  padding: 0;
  color: rgba(3,27,78,.7);
  position: relative;
}

.ageno-timeline li {
  margin: 0 0 0 48px;
  padding: 0;
  padding-bottom: 32px;
  font-size: 18px;
  line-height: 32px;
  display: block;
  position: relative;
}

.ageno-timeline li::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 32px;
  bottom: 0;
  left: -25px;
  border-left: 3px solid rgba(3,27,78,.3);
}

.ageno-timeline li:last-child::before{
  border: 0;
}

.ageno-timeline li::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 8px;
  left: -32px;
  width: 10px;
  height: 10px;
  background-color: white;
  border: 3px solid rgba(3,27,78,.7);
  border-radius: 50%;
}

/* End general Typography -----------------------------------------------------*/



.ageno-summary {
  background: rgb(247, 247, 251);
  padding: 32px 48px;
  margin: 32px 0 16px 0;
  position: relative;
  border-radius: var(--ageno-border-radius);
}

.ageno-summary::after {
  font-family: "Font Awesome 5 Pro";
  font-weight: 300;
  font-size: 24px;
  content: "\f672";
  display: block;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 24px;
  position: absolute;
  top: 36px;
  left: -15px;
  color: rgba(3,27,78,.7);
  z-index: 3;
  text-align: center;
}

.ageno-summary::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -24px;
  /*background: rgba(198, 198, 204, 0.34);*/
  background: #ff525214;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: block;
  z-index: 3;
}


.ageno-summary__p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: rgba(3,27,78,.7);
  margin: 0;
  border-radius: var(--ageno-border-radius);
}

/*MAIN CONTAINER*/
.ageno-container {
  max-width: 740px;
  margin: 0 auto;
}

/*AUTHOR BEAM*/
.ageno-article__author-beam {
  position: relative;
  top: 1.ageno-2rem;
  padding: 24px 0;
}

.ageno-article__author-image img {
  display: inline-block;
  width: 6.ageno-25rem;
  height: 6.ageno-25rem;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #dddee4;
  margin-bottom:8px;
}


.ageno-article__author-name {
  position: absolute;
  text-transform: uppercase;
  top: 3.ageno-3rem;
  left: 8rem;
}




/*POST ELEMENTS*/
.ageno-post__elements span {
  letter-spacing: .ageno-2px;
  font-weight: 100;
  line-height: 16px;
}

.ageno-fas {
  font-size: 1.ageno-1rem;
  color: rgba(35, 35, 35, 0.72);
}


/*LIST WITH ARTICLE SERIES*/


p:nth-of-type(2)::first-letter {
  display: block;
  margin-right: 19px;
  float: left;
  font-size: 96px;
  line-height: 0.7em;
  color: inherit;
  font-family: "le-monde-livre-classic-byol", serif !important;
  margin-bottom: -4px;
  padding-bottom: 16px;
  padding-top: 17px;
}



/*CAPTION*/
img.ageno-wp-caption {
  display: block;
  margin-top: 2rem;
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

img.ageno-wp-caption-center{
  width: calc(70% + 30rem);
  margin-left: -8rem;
  max-width: none;
}

h6.ageno-wp-caption-text {
  margin-top: 1rem;
  margin-left: -8rem;
  padding-left: 26px;
  border-left: 3px solid #ff5252a6;
  color: rgba(3, 27, 78, 0.63);
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*BLOCKQUOTE*/

.ageno-main__blockquote {
  box-sizing: border-box;
  position: relative;
  padding: 20px 20px 20px 70px;
  font: normal normal normal normal 16px/24px;
  font-family: 'Merriweather Sans', sans-serif;
  font-style: oblique;
  line-height: 32px;
  color: rgba(3,27,78,.7);
  background-color: #c1c1c136;
  /*box-shadow: 3px 3px 6px 0px hsla(0, 0%, 0%, 0.2);*/
}

.ageno-main__blockquote:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f10d";
  font-style: normal;
  color: #ff525287;
  position: absolute;
  top: 13px;
  left: 32px;
}

.ageno-main__blockquote {
  margin: 10px 0px;
}


/*READ MORE BANNER*/
.ageno-article-read-more {
  text-align: center;
  position: relative;
  margin: 32px auto 40px auto;
  max-width: 500px;
  top: 8px;
  padding: 8px;
  font-size: 18px;
  line-height: 32px;
  color: rgba(3,27,78,.7);
  font-family: 'Merriweather Sans', sans-serif;
}


.ageno-article-read-more:before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #ff52523b;
  width: 24%;
  top: -8px;
  margin-left: 36%;
  margin-right: 36%;
}

.ageno-article-read-more:after{
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #ff52523b;
  width: 24%;
  bottom: -8px;
  margin-left: 36%;
  margin-right: 36%;
}

.ageno-article-read-more a {
  text-decoration: none;
  color: #333333;
}


/*SOURCE*/

.ageno-source p {
  font-size: 16px;
  font-weight: 400;
}

/*@MEDIA PROPERTIES ON SMALL DEVICES*/

@media (max-width: 990px) {

  #container {
    margin: 32px;
    line-height: 100%;
    overflow: hidden;
  }

  article{
    padding: 0 8px;
  }

  .ageno-article-header__article-meta {
    margin: 0 16px;
  }

  .ageno-article-meta-secondary__author,
  .ageno-article-meta-secondary__post-date {
    width: 100%;
    float: none;
}

.ageno-article-meta-secondary__post-date {
    padding-bottom: 32px;
  }

.ageno-article-meta-secondary {
    padding: 24px 40px;
  }

  .ageno-h2,
  .ageno-h3,
  .ageno-h4 {
    padding: 16px 0 8px 0;
    text-align: center;
  }

  .ageno-h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0;
  }

  .ageno-h4 {
    font-size: 16px;
    line-height: 16px;
  }

  .ageno-p__lead{
    margin-left:0;
    line-height: 40px;
    font-weight: 400;
    font-size: 24px;
    width: auto;
  }

  .ageno-subheader {
    padding: 16px 0 0px 0;
    font-size: 14px;
    line-height: 24px;
  }

  .ageno-p {
    font-size: 16px;
    line-height: 28px;

  }

  p:nth-of-type(2)::first-letter {
    font-size: 64px;
    line-height: 0.4em;
  }

  .ageno-summary {
    background: rgb(247, 247, 251);
    padding: 32px 48px;
    margin: 48px 24px;
    position: relative;
  }

  .ageno-timeline li{
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 32px;
  }

  .ageno-summary::after {
    line-height: 24px;
    top: 36px;
    left: -15px;
  }

  .ageno-summary::before {
    top: 24px;
    left: -24px;
  }

  img.ageno-wp-caption {
    margin-left: 0;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  h6.ageno-wp-caption-text {
    margin-top: 2%;
    padding-left: 16px;
    padding-right: 6px;
    margin-left: -1px;
  }

  .ageno-article-read-more{
    font-size: 16px;
    line-height: 28px;
    top:0;
}
