body{
    margin: 10px;
    font-family: 'Work Sans', sans-serif;
}
html{
    box-sizing: borde-box;
    width: 100vw;
}

#container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;

    flex-direction: column;
}

.post__elements{
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    margin-bottom: 20px;
    color: rgba(35,35,35,0.72)
}

ul.post__short--description {
    font-size: 18px;
    line-height: 1.5em;

}



article{
    display: block;
    text-align: left;
    hyphens: auto;
    line-height: 24px;
    font-weight: 400;
    flex: 700px;
    margin-left: 25%;
    margin-right: 25%;
}


 h2  {
    font-family: "PT Serif";

 }

article p {
    font-size: 18px;
    max-width: 40em;

}


p{
    margin-bottom: 30px;
    margin-top: 8px;
    line-height: 30px;
}

/* Akapit
h3{
    text-indent: 20px;
}*/


 p:first-of-type::first-letter {
    color: rgba(191,47,43,0.97);
    font-size: 3em;
    padding: 16px 8px 7px 0;
    margin-right: 2px;
    font-family: Source Serif Pro, serif;
    float: left;
}

img.wp-caption {
    display: block;
    margin-bottom: 4rem;
    margin-left: -10rem;
    margin-top: 4rem;
    max-width: none;

}

img{

}

h6.wp-caption-text {
    margin-top: -3rem;
    font-style: italic;
    border-left: 2px solid rgba(191,53,17,0.97);
    padding-left: 26px;
    font-size: 12px;
    margin-left: -10rem;
}

.main_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 0 10px;
}
header{
    margin-left: 40px;
    margin-right: 40px;
    padding: 16px;
    font-size:21px ;
}

header h1 {
    font-family: 'PT Serif', serif;
    font-size: 2em;
    font-weight: 700;
}

header h3{
    color: rgba(51,50,51,0.97);
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 23px;
    line-height: 36px;
}




blockquote {
    box-sizing: border-box;
    position: relative;
    padding: 20px 20px 20px 70px;
    font: normal normal normal normal 16px/24px 'Merriweather Sans', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5em;
    background: #eee;
    color: #898989;
  /*  max-width: 800px;
    left: 100px; */
}

blockquote:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";
    font-size: 30px;
    font-style: normal;
    color: #cecece;
    position: absolute;
    top: 30px;
    left: 20px;
}

blockquote {
    margin: 10px 0px;
}

.source{
    justify-self: center;
}
.author
{
    width: 400px;
    justify-self: center;
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 20px;
    padding: 10px;
}

.author-avatar img{
    border-radius: 50% 50%;
    display: inline-block;
}

span.post-meta-item.post-meta-author{
    position: relative;
    padding: 20px;
    top: -100px;
    left: 10px;
    font-size: 20px;
}

span.author-description{
    color:blue;
 }

span.author-mail{
    color:red;

}

@media (max-width:990px){

    #container{
        width: 80%;

    }
header{

    margin: 0;
}
    article{
        margin: 0;
    }

    img.wp-caption{
      margin-left: 0;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    .source{

    }
.author{

}
}




