body {
    margin: 10px;
    font-family: "PT Serif";
}

html {
    box-sizing: border-box;
    width: 100vw;
    font-size: 14px;
}

h2 h6 {
    font-family: "PT Serif";
}

h6{
    font-weight: 100;
    text-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

ul {
    font-size: 18px;
    line-height: 1.5em;
}

article {
    display: block;
    text-align: left;
    /*hyphens: auto;
    Dzielenie wyrazu, który się nie mieści do następnego wiersza
    */
    line-height: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    margin-left: 0;
    margin-right: 53%;
    font-size: 18px;
}

/*MAIN CONTAINER*/
#container {
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    display: flex;
}

/*AUTHOR BEAM*/
.article__author-beam {
    position: relative;
    top: 1.2rem;
    padding: 24px 0;

}

.article__author-image img{
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #dddee4;
}


.article__author-name {
    position: absolute;
    text-transform: uppercase;
    top: 3.3rem;
    left: 7.7rem;

}

/*ARTICLE DATE*/
.article__date {
    margin-right: 10px;
    position: absolute;
    top: 5rem;
    left: 7.7rem;
    text-transform: inherit;
    font-size: 1.3rem;
    color: #848484;
}


/*POST ELEMENTS*/
.post__elements span {
    font-family: 'PT Serif', serif;
    letter-spacing: .2px;
    font-weight: 100;
    line-height: 16px;
}

.fas {
    font-size: 1.1rem;
    color: rgba(35, 35, 35, 0.72);
}

/*TAGS*/
.tags:hover{
    cursor: pointer;
    color: #008bce;
}


/*HEADER*/

header {
    font-family: 'PT Serif', serif;
    margin: 0 0 -1.5rem 0;
    padding: 16px;
    font-size: 21px;
}

header h1 {

    font-weight: 700;
}

header h3 {
    color: rgba(51, 50, 51, 0.97);
    font-family: 'PT Serif', serif;
    font-weight: 500;

}

/*HORIZONTAL LINE*/
hr.style {
    display: block;
    border: none;
    height: 1px;
    background-color: #E0E0E0;
    margin: 0 auto 10px auto;
    padding: 0;
    width: 100%;
}

ul.post__short--description {
    display: inline-block;
}

/*ARTICLE*/

/*ul.post__short--description {
    font-size: 18px;
    line-height: 1.5em;
} */


#series {
    overflow: hidden;
    background-color: #333;
    width:400px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*LIST WITH ARTICLE SERIES*/

#series {
color:rgba(101, 101, 101, 0.94);
    margin-right: 20rem;
    background-color: #fff;
    position: fixed;
    top: 50px;
    width: 450px;
    /* margin-right: 20rem; */
    z-index: -1;
    left: 46%;
    right: 21rem;
}

.series__list {
    list-style: none;

}

li.series__link {
    margin: -43px 4em;
    overflow: hidden;
    line-height: 16px;
    padding: 20px;
    position: relative;
    font-size: .9em;
    padding-bottom: 3rem;
}

li.series__link:hover {
    color: #008bce;
    cursor: pointer;

}

li.series__link:nth-child(2) {
    border-top: 2px solid #000;
    margin-top: 8px;
}


span.number {
    font-size: 2.5em;
    margin: .4em;
    display: inline-block;
    position: relative;
    border-right: 1px solid #cccccc;
    line-height: .7em;
    padding-right: 10px;
    float: left;
    top: -.6rem;
    border-right: 1px solid #cccccc;
    padding-right: 10px;
}

/*span.number:after{
    content: "";

    margin-left: 16px;
}*/


.series__list h2 {
    margin-left: auto;
    margin-right: auto;
    display: table;
    text-transform: uppercase;
    font-size: 1.2rem;
}


.fa-tag {
    display: inline-block;
}


.fas:before {
    content: '';
    padding: .5em;
}

.lead{
    display: block;
    text-align: left;
    /*hyphens: auto;
    Dzielenie wyrazu, który się nie mieści do następnego wiersza
    */
    line-height: 30px;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    flex: 700px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 18px;
}


h2 {
    margin-top: 3.6rem;
}

p {
    margin-top: 8px;
    line-height: 30px;
    margin-bottom: 0;
}


p.first-paragraph::first-letter {
    display: block;
    margin-right: 18px;
    float: left;
    font-size: 4.125em;
    line-height: 1.1;
    color: inherit;
    margin-bottom: -16px;
    font-family: "le-monde-livre-classic-byol", serif !important
}


/* Akapit
h3{
    text-indent: 20px;
}*/

/*POST IMAGES*/

.main_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: 0 10px;
}

img.wp-caption {
    display: block;
    margin-left: 0%;
    margin-top: 2rem;
    max-width: none;
    /*width: calc(70% + 30rem);*/
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

h6.wp-caption-text {
    margin-top: 1rem;
    font-style: italic;
    border-left: 2px solid rgba(191, 53, 17, 0.97);
    padding-left: 26px;
    font-size: 12px;
    letter-spacing: .5px;
    line-height: 17px;
}

/*BLOCKQUOTE*/

.main__blockquote {
    box-sizing: border-box;
    position: relative;
    padding: 20px 20px 20px 70px;
    font: normal normal normal normal 16px/24px 'Merriweather Sans', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;

    font-style: italic;
    line-height: 1.5em;
    background: #eee;
    color: #898989;
    /*  max-width: 800px;
      left: 100px; */
}

.main__blockquote:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f10d";

    font-style: normal;
    color: #cecece;
    position: absolute;
    top: 13px;
    left: 32px;
}

.main__blockquote {
    margin: 10px 0px;
}


/*RIGHT BLOCQUOTE*/

.right__blockquote {
    width: 40%;
    float: right;
    /* font-style: italic; */
    color: #008bce;
    letter-spacing: 1px;
    padding: 10px;
    margin: 6px 0 6px 4px;

}

.right__blockquote > p {
    margin: .5rem;
    text-indent: -.5em;
}


/*ABOUT AUTHOR*/
/*
.author {
    max-width: 400px;
    justify-self: center;
    border: 0;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 20px;
    padding: 10px;
}

.author-avatar img {
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #dddee4;

}

.author-avatar {
    position: relative;
    top: 1.2rem;
    padding: 24px 0;

}

.post-meta-item.post-meta-author {
    position: absolute;
    text-transform: uppercase;
    top: 4rem;
    left: 6rem;

}


 position: relative;
 padding: 20px;
 top: -100px;
 left: 10px;
}
*/


/*SOURCE*/

.source {
    justify-self: center;
}

/*@MEDIA PROPERTIES ON SMALL DEVICES*/

@media (max-width: 990px) {

    #container {
        margin-left: auto;
        margin-right: auto;
        line-height: 100%;
    }

    header {
        margin: 0 0 -2.5rem 0;
    }



    .article__author-beam{
        top: 0;
        padding: 10px 0;
    }

    .article__author-image img{
        width: 4.25rem;
        height: 4.25rem;
    }

    .article__author-name {
        top: 1.7rem;
        left: 5.7rem;
        font-size: 1.4rem;

    }

    .article__date {
        top: 3.3rem;
        left: 5.7rem;
        font-size: 1.2rem;
    }


    article {
        margin-left: 2%;
        margin-right: 2%;
    }

    h2 {
        margin-top: 2.6rem;
    }

    img.wp-caption {
        margin-left: 0;
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    h6.wp-caption-text {
        margin-top: 2%;
        padding-left: 16px;
        padding-right: 6px;
        margin-left: -1px;
    }

    aside {
        width: 100%;
    }


    .source {

    }

    .author {

    }
}


/* FONTS AND LINE-HEIGHT SIZES ON SMALL DEVICES*/
@media (max-width: 900px) {
    html {
        font-size: 14px;
        line-height: 16px;
    }


    h1 {
        font-size: 2rem;
        line-height: 1.25em;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 1.25em;
    }

    h3 {
        font-size: 1.5rem;
        line-height: 1.90rem;
    }

    blockquote, li, p, h4 {
        font-size: 1.4rem;
        line-height: 2rem;
    }


}

@media (max-width: 400px) {
    html {
        font-size: 13px;
    }
}




